<div class="header">
  <div class="inner-header">
   <%=  image_tag("logo.png", class: :logo) %>
    <h1 class="title">
     Cinema Review
    </h1>

    
         <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"post-btn" %>
             <%= link_to "New Post", new_tweet_path, class:"post-btn"%>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post-btn" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post-btn" %>
          </div>
        <% end %>
   
    </li>
  </div>
</div>

<div class="main">
  <div class="message-wrap">
    <% @tweets.each do |tweet|%>
      <div class="message">
        <p class="text">
      <%= image_tag tweet.image.variant(resize: '500x500'), class: "img-radius" if tweet.image.attached? %>
          <h2>記事タイトル:<%= tweet.title %><h2>
            <h2> 映画タイトル：<%= tweet.cinematitle %><h2>
            <%= tweet.message %>
        </p>
        <ul class="tag">
          <li class="tag-list">
            <%tweet.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
         <% if user_signed_in? %>
         <h2><%= link_to 'コメントする',tweet_path(tweet.id), class:"btn_1",method: :get %><%= link_to '削除',  tweet_path(tweet.id), class:"btn_1",method: :delete %><h2>
          
         <%end%>
      </div>
    <%end%>
  </div>
</div>